# Python virtual environment
venv/
.venv/

# Byte-compiled / binary files
__pycache__/
*.py[cod]
*$py.class

# Logs and output files
*.log
logs/
logs/*

# Environment variables
.env
*.env
secrets/

# Docker related
*.pid
*.sock
*.db
docker-compose.override.yml

# PostgreSQL Data
postgres/
postgres-data/
*.pgsql

# Spark related (데이터 및 캐시 파일)
spark-warehouse/
metastore_db/
derby.log

# Airflow 관련 불필요한 파일들
airflow.db
airflow.cfg
dags/__pycache__/